@charset "UTF-8";



/*
 * A better looking default horizontal rule
 */


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background:url('images/backslide.jpg') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url('images/backslide.jpg')}


.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	/*color: #ebebeb;*/
	padding: 0 8%;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		
		padding: 3px 10px;
	}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}




html, body {
	margin:0px;
	padding:0px;
	height:100%;
	
	}
	
	.headerbanner{
		
		display:block;
		clear:both;
	}
	.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
		
	}

	.caption-style-4 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
		width:20%;
		height:20%;
	}

	.caption-style-4 li:hover .caption{
		opacity: 1;
	}

	.caption-style-4 li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}


	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
		width:100%;
		height:100%;
	}


	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}

	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}

	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 24px;
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: relative;
		width: 260px;
		height: 0px;
		text-align: center;
		top:230px;
	}
	.caption-style-4 .caption-text h1{
text-transform: uppercase;
font-size: 12px;
font-family:Helvetica;
line-height:1px;
}
.caption-style-4 .caption-text p{
font-family:Helvetica;
font-size:10px;
color:rgba(207,207,207,1.00);
}

/* Slide 1 */
#slide-1 .bcg {background-image:url(images/backslide.jpg)}


header{height:200px;
width:100%;
}

.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	text-align: center
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		margin: 0 auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Media Queries */

@media only screen and (max-width : 460px) {
	/* Smartphone view: 1 tile */

	.headerbanner {width:460px;
	height:37px;
	}
	
	.caption-style-4 li {
		width:100%;
		
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: relative;
		width: 330px;
		height: 0px;
		text-align: center;
		top:300px;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 600px;
		width: 600px;
		z-index: 5;
		position: absolute;
	}
	.headerbanner{
		width:300px;
		height:73px;
		margin-right:auto;
		margin-left:auto;
		display:block;
		clear:both;
}
}
@media only screen and (max-width : 650px) and (min-width : 461px) {
	/* Tablet view: 2 tiles */
	.headerbanner{ width: 650px;
	height: 52 px;
	}
	
	.caption-style-4 li {
		width:50%;
		
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: relative;
		width: 250px;
		height: 0px;
		text-align: center;
		top:230px;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 400px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}
}

@media only screen and (max-width : 950px) and (min-width : 651px) {
	/*Medium desktop / ipad view: 4 tiles */
.headerbanner{width: 950 px;
height: 76 px;
	}
.caption-style-4 li {
		width:25%;
		
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: relative;
		width: 200px;
		height: 0px;
		text-align: center;
		top:170px;
	}
}

@media only screen and (max-width : 1290px) and (min-width : 951px) {
	/* Large desktop: 5 tiles */
	
	.headerbanner{
		width:1270 px;
		height:99 px;
		}
	
	.caption-style-4 li{
			width:20%;
		
	}
}


/*} CSS Document */

/* CSS Document */

